<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MEDILAB</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='assets/imgdsh/favicon.png')}}" rel="icon">
  <link href="{{url_for('static',filename='assets/imgdsh/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendordsh/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendordsh/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/styledsh.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/css/main.css')}}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body style="width: 100%;height: 100%;">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div>
      <a href="/" class="logo d-flex align-items-center" >
        <img src="{{url_for('static',filename='assets/imgdsh/logo.png')}}" alt="">
        <span class="d-none d-lg-block">MEDILAB</span>
      </a>
      
    </div><!-- End Logo -->

    

    <nav class="header-nav ms-auto">
      
      <ul class="d-flex align-items-center">
        <li>
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="/" >
            <span class="d-none d-md-block ps-2" style="font-size: large; margin-right: 30px;" >Home   </span>
          </a>
        </li>
          
        <li class="nav-item dropdown pe-3">
          

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2" style="font-size: large; margin-right: 30px;" >Profile</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{name.Name}}</h6>
              
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
<!--
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
-->
            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  
  <main id="main" class="main" style="height: 100%; width: 100%;">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
      <br>
    </div><!-- End Page Title -->
    <div style="margin-left: 2%;">
      <div >  
        <a href="/dashboard/rpt" class="btn btn-outline-success" style="justify-content: center; align-items: center; font-size: xx-large; width: 50%;box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);">Click to Analize the Report</a>
      </div>
    </div>
    <section class="section dashboard" style="width: 100%;">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div >
              <div class="card info-card sales-card" style="width: 90%;">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>
                <br>

                <div class="card-body">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">SrNo. </th>
                        <th scope="col">Name</th>
                        <th scope="col">Report</th>
                        <th scope="col">Check</th>
                        <th scope="col">Date</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for p in data %}
                      <tr>
                        <th >{{p.Sno}}</th>
                        <td>{{p.Name}}</td>
                        <td>{{p.Report}}</td>
                        <td><a href="/dashboard/yourpdf{{p.File}}">
                        Your Report</a></td>
                        <td>{{p.Date}}</td>
                        <td><a href="/dashboard/rpt/analyze?filename={{p.File}}" style="color: blue;">Check</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
           
<div>       <br>     <br></div>
            
          </main>




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendordsh/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/chart.js/chart.umd.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/echarts/echarts.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/quill/quill.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/tinymce/tinymce.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendordsh/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/maindsh.js')}}"></script>

</body>

</html>