{% extends "layout.html" %}
{% block content %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>MEDILAB</span></h2>
            <p class="animate__animated animate__fadeInUp" style="font-size:  x-large;" >Welcome to MEDILAB - your health simplified. At medilab, we turn complex medical reports into easy-to-understand language, helping you make sense of your health without the need for medical jargon. Stay informed, stay empowered.</p>
            
            <a href="/dashboard" class="btn-get-started animate__animated animate__fadeInUp scrollto" style="font-size:x-large;">Click here to ananlyse the report</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Understand your health, effortlessly</h2>
            <p class="animate__animated animate__fadeInUp" style="font-size: x-large;">Medilab – your gateway to understanding your health. Access your medical reports and instantly see the meaning of complex medical terms, all in simple, easy-to-understand language. Empowering you with clarity and confidence in your health.</p>
            <a href="/dashboard" class="btn-get-started animate__animated animate__fadeInUp scrollto" style="font-size:x-large;">Click here to ananlyse the report</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <!--<div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
        -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>Who we are</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p style="font-size: larger;">
              Medilab is a user-friendly platform designed to simplify the healthcare experience by making medical reports easy to access and understand. We believe that every individual has the right to be fully informed about their health, without the complexity and confusion that often comes with medical terminology.

At Medilab, you can securely access the results of your medical tests and reports anytime, anywhere. But we don’t stop there. We know that medical reports can be overwhelming, filled with complex terms and data that can be difficult to interpret. That’s why we take it a step further by breaking down those terms and explaining them in simple,
 everyday language. No more guessing or searching the web for definitions—you’ll have clear, concise explanations right alongside your results.
<br>
<br>

            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span style="font-size: larger;">Check the results of reports from anywhere.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span style="font-size: larger;">Detail info of the disease which has been found.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span style="font-size: larger;">Graphical representation of the Person's Growth. </span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p style="font-size: larger;" >Our platform is designed with patients in mind, providing clarity and peace of mind. Whether it’s understanding what a specific medical term means, learning about how certain health metrics impact your overall well-being, or simply gaining insight into your test results, Medilab makes the process easy and stress-free.

              With Medilab, you are not just receiving your health data—you’re gaining the knowledge and tools to actively participate in 
              your own healthcare journey. It’s healthcare, simplified.</p>
            
          </div>

        </div>

      </div>

    </section><!-- /About Section -->
    <hr>

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <hr>
          
          
        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Navigating medical terminology shouldn’t be intimidating. Our goal is to simplify complex terms into clear, relatable language, empowering you to understand your health better.</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i>
                    <spab>User-Friendly Format: Information is presented in a straightforward, easy-to-navigate format for quick reference</spab>
                  </li>
                  <li><i class="bi bi-check2-all"></i> <span>Clarity: Each term is broken down for easy understanding, so you know what it means and why it matters.</span>.</li>
                  <li><i class="bi bi-check2-all"></i> <span>Confidence: No more confusion—just straightforward explanations that put you in control of your health journey.</span></li>
                </ul>
                <p>
                  Trust our content to provide accurate definitions and explanations, supporting your health journey.Stay informed with regular updates on new medical terminology and evolving health language.

                  With our guidance, you can confidently navigate your health and make informed decisions!
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{{url_for('static',filename='assets/img/working-1.jpg')}}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          

        </div>

      </div>

    </section><!-- /Features Section -->

    
  {% endblock content%}
  